{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epay services</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="{% static 'app/images/logo.png '%}" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li><a href="{% url 'index'%}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'credit' %}">Credit</a></li>
                        <li><a href="{% url 'games' %}">Games</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>

                {% if user.is_authenticated %}
                <li class="active" ><a href="{% url 'profile' %}">Profile</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="active" ><a href="{% url 'login' %}">Connect</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-map-marker"></i> Algeria-jijel</li>
            <li><i class="fa fa-phone"></i> (213) 659-176-510</li>
            <li><i class="fa fa-envelope"></i> stihiyahya2016@gmail.com</li>
        </ul>

    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-map-marker"></i> Algeria-jijel</li>
                            <li><i class="fa fa-phone"></i> (213) 659-176-510</li>
                            <li><i class="fa fa-envelope"></i> stihiyahya2016@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'app/images/logo.png'%}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'credit' %}">Credit</a></li>
                                        <li><a href="{% url 'games' %}">Games</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>

                                <li class="active" ><a href="{% url 'profile' %}">Profile</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                        <div class="header__search">
                            <i class="fa fa-search search-switch"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>

        <hr>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} m2" id="msg" role="alert" style="text-align: center;">
        {{message}}
    {% endfor%}
    {% endif %}</div>

 <!-- Services Section Begin -->
 <section class="services spad">
    <div class="container" >
        <div class="row">
            <div class="col-md-4 order-md-1 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">My Profile:</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Name:</h6>
                            <small class="text-muted">{{distributor.user}}</small>
                        </div>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Phone:</h6>
                            <small class="text-muted">{{distributor.phone}}</small>

                        </div>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Address:</h6>
                            <small class="text-muted">{{distributor.address}}</small>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Ccp: {{distributor.ccp}}</span>
                        <strong>Key: {{distributor.key}}</strong>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div style="width:100%;">
                            <h6 class="my-0"><a type="button" class="btn btn-primary" style="width:100%;"
                                    role="button" href="{{distributor.facebook}}">Facebook Profile</a></h6>
                        </div>
                    </li>
                </ul>
                <h4 class="text-muted">My Orders:</h4>

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>
                        
                            {% for order in orders %}
                                {% if order.visible_for_buyer == True %}
                                    <tr>
                                        {% if order.status == 'complete' %}
                                        <td style="color: red;">{{order.amount}} {{ order.currency}} {{order.product}}
                                        {% else %}
                                        <td style="color: green;">{{order.amount}} {{ order.currency}} {{order.product}}
                                         {% endif %}


                            <h5 style="padding-top: 15px;">{{ order.name }}</h5>
                            </td>


                            <td></td>
                            <td style="text-align: right;">
                            <button type="submit" class="btn btn-outline-success">View</button><br>
                            <small class="text-muted" style="font-size: 12px;">{{order.date}}</small></td>
                            </td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
            </div>




            <!-- form info Section Begin -->

            <div class="col-md-8 order-md-1" >
                <a style="float: right;" type="button" class="btn btn-success"role="button" href="{% url 'add' %}">Add+</a>
                <h4 class="mb-3">My Services:</h4>
                <hr>
                <section >
                    <div class="container">
                        <div class="row">
                            {% for service in services %}
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="services__item">
                                    <div class="services__item__img">
                                        <img src="{{service.image.url}}" style="max-height: 10rem;" alt="">
                                    </div>
                                    <div class="services__item__text">
                                        <h4><span>DZD {{service.price}}</span></h4>
                                        <p style="font-weight: 900;">{{ service.name}}<br>
                                            Balance: {{ service.available}} {{ service.currency }}</p>
                                    <div style="padding:15px;">

                                        <a  style="float: left; width: 4rem; color: red;" href="{% url 'delete_service' service.id %}">Delete</a>
                                        <a  style="float: right;width: 4rem;color: green;" href="{% url 'edit' service.id %}">Edit</a>
                                        
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                        <hr>
                </section>
                <!-- Services End -->

                

                <!--form ends here-->

            </div>
        </div>
    </div>
    
</section>

<!-- Services End -->

    <!--form ends here-->



    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <img src="{% static 'app/images/footer-logo.png' %}" alt=""></a>
                        </div>
                        <p>Please remember though that how far you go is up to you. There is no substitute for your own
                            work and effort in succeeding in this business.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                <li><a href="#">service 1</a></li>
                                <li><a href="#">service 2</a></li>
                                <li><a href="#">service 3</a></li>
                                <li><a href="#">service 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Socials</h5>
                        <div class="footer__widget footer__widget--social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-skype"></i> Skype</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget footer__widget--address">
                        <h5>Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday - Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="footer__copyright__links">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |<i
                                    class="fa fa-heart" aria-hidden="true"></i> by <a href="https://mail.google.com/"
                                    target="_blank">stihiyahya2016@gmail.com</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'app/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'app/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.nicescroll.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'app/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'app/js/main.js '%}"></script>
</body>

</html>